* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #0e1c28;
    --mid-dark: #142a3c;
    --mid-light: #214461;
    --light: #d3e9ff;
}

header {
    display: flex;
    justify-content: center;
    align-content: center;
}

article {
    display: flex;
    flex-direction: column;
}

button {
    margin: 0 3rem;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 3rem;
}